{erl_opts, [debug_info]}.

{deps, [
    {bitmap, ".*", {git, "https://github.com/dalmatinerdb/bitmap.git", {branch, "master"}}},
    {haki, "0.3.1"}
]}.

{plugins, [
    rebar3_run
]}.


{relx, [
    {release, {hakisql, "0.1.0"}, [hakisql]},
    {dev_mode, true},
    {include_erts, false},
    {include_src, false},
    {system_libs, false},
    {extended_start_script, true}
]}.