{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_import,
    warn_unused_vars,

    {parse_transform, metronome_transform}
]}.

{deps, [
    {ebitmap, "0.2.0"},
    {haki, ".*", {git, "https://github.com/gootik/hakicache.git", {branch, "binary-key"}}},
    {metronome, "0.0.2"},
    {timing, ".*", {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.

{plugins, [
    rebar3_run
]}.

{relx, [
    {release, {hakisql, "0.1.0"}, [hakisql]},
    {dev_mode, true},
    {include_erts, false},
    {include_src, false},
    {system_libs, false},
    {extended_start_script, true}
]}.